<div class="flex top">
    <div class="hero-spacing">
        <h3 class="h3">Welcome {{name}}</h3>
        {{!-- <a href="/goals/" class="btn btn-float">Set Weekly Goals</a> --}}
    </div>

    <div class="col s4 margin-auto hero-card">
            <div class="card small dash-card">
                <div class="title-add-entry border-bottom">
                    <h3>Entries</h3>

                    <table>
            <thead>
                <tr class="no-border">
                    <th>This Week</th>
                    <th class="align-center">Current Top Week</th>
                    <th class="align-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="no-border">
                    <td>{{thisWeekNumOfEntries}} entries</td>
                    <td class="align-center">{{getTopWeekDate}}</td>
                    <td class="align-right">{{stories.length}} entries</td>
                </tr>
            </tbody>
        </table>

                    
                </div>

                <div class="divider"></div>

                <div class="section">
                    <a href="/entries/add" class="btn"><i class="fas fa-plus"></i> Add Entry</a>
                </div>
            </div>
    </div>

    

        

    
        
</div>

<div class="flex double-tiles">

    <div class="col s4 margin-auto sub-card">
        <div class="card small dash-card margin-right-2">
            <h3>Move</h3>

            <div class="section border-bottom">
                <p class="lead">Short movement classes, for everyone. Repeat and build on your progress.</p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <a href="/classes/" class="btn">
                Classes
                </a>
            </div>
        </div>  
    
        <div class="card small dash-card margin-left-2">
            <h3>Pose</h3>

            <div class="section border-bottom">
                <p class="lead">Strike a 1-minute pose to harness your power, confidence, or restore.</p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <a href="/postures/" class="btn">
                Strike a Pose
                </a>
            </div>
        </div>
    </div>
</div>




<h5 class="entries-title">My Daily Entries</h5>

{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
            <tr>
                <td>
                    {{#if title}}
                    <a href='/entries/{{_id}}'></a>{{title}}</a>
                    {{else}}
                    <a href='/entries/{{_id}}'></a>untitled</a>
                    {{/if}}
                </td>
                <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <a href="/entries/edit/{{_id}}" class="btn btn-float">
                        <i class="fas fa-edit"></i>
                    </a>

                    <form action="/entries/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn orange">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    
{{else}}
    <p>You have not created any entries</p>
{{/if}}