
<h3>Welcome {{name}}</h3>
{{!-- <p>Here are your stories</p> --}}

<div class="dash-flex">
    <h5 class="dash-h5">Activity Tracker</h5>
    <div class="dash-spacing"></div>
    <a href="/goals/" class="btn btn-float">Set Weekly Goals</a>
</div>

    <table>
        <thead>
            <tr>
                <th>This Week</th>
                <th>Top Week</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{!-- <td>{{createdAt:$gte:ISODate("March 5th 2023"),$lt:ISODate("February 27th 2023")}}</td> --}}
                <td>This Weeks Number</td>
                <td>Top Week Number</td>
                <td>{{stories.length}} entries</td>
            </tr>
        </tbody>
    </table>

<div class="row flex dash-flex">
    <div class="col s4 margin-auto">
        <div class="card dash-card">
            <h3>Entries</h3>

            <div class="section">
                <p class="lead">My daily accomplishments and lessons learned.</p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <a href="/entries/add" class="btn cyan"><i class="fas fa-plus"></i>Add Entry</a>
            </div>
        </div>
        </div>


    <div class="col s4 margin-auto">
        <div class="card dash-card">
            <h3>Classes</h3>

            <div class="section">
                <p class="lead">Short movement classes, for everyone. Repeat and build your dance prowess. Power positivity.</p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <a href="/classes/" class="btn red darken-1">
                Classes
                </a>
            </div>
        </div>
    </div>

</div>


{{!-- <div class="fixed-action-btn"></div> --}}
    {{!-- <a href="/entries/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a> --}}
{{!-- </div> --}}



<h5>My Daily Entries</h5>

{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
            <tr>
                <td><a href='/entries/{{_id}}'>{{title}}</a></td>
                <td>{{formatDate createdAt 'MMMM Do YYYY'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <a href="/entries/edit/{{_id}}" class="btn btn-float">
                        <i class="fas fa-edit"></i>
                    </a>

                    <form action="/entries/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn orange">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    
{{else}}
    <p>You have not created any entries</p>
{{/if}}