<h1>{{firstName}}&#39;s Shared Entries</h1>
<div class="row feed-row">
    {{#each stories}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {{!-- editIcon userThatCreatedTheStory userThatIsLoggedIn idOfTheStory. triple brackets allow us to bring in HTML tags and render them properly --}}
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content center-align">
                    {{#if title}}
                    <h5 class="truncate">{{title}}</h5>
                    {{else}}
                    <h5 class="truncate">untitled</h5>
                    {{/if}}
                    <p>{{stripTags (truncate body 20) }}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="" referrerpolicy="no-referrer">
                        {{!-- <a href="/entries/user/{{user._id}}"> --}}
                        <a href="/entries/userIndex">{{user.displayName}}</a>
                        
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/entries/{{_id}}" class="btn grey"> Read More</a>
                </div>
            </div>
        </div>
    {{else}}
        <p>No entries to display</p>
    {{/each}}
</div>